.Code {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Code-code {
    padding: 20px;
}

.Code-button-try {
    font-size: 2vmin;
}

.Code-button-reset {
    font-size: 2vmin;
}
