.Code {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 17px;
}

.Code-button-try {
    font-size: 2vmin;
}

.Code-button-reset {
    font-size: 2vmin;
}

.Code-editor-container {
    position: relative;
    padding: 10px;
}

.Code-editor:before,
.Code-editor:after,
.Code-editor span.Code-editor-control:before,
.Code-editor span.after:after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.Code-editor {
    box-sizing: border-box;
    margin: 5px 0px;
    width: 600px;
    text-align: left;
    background-color: #473431;
    border-radius: 0 0 5px 5px;
    overflow: auto;
    transition: all 0.5s ease-in-out;
}

.Code-editor:before {
    content: 'Ninja Code Editor';
    font-family: 'Consolas';
    color: #222;
    padding-top: 6px;
    text-align: center;
    top: 8px;
    width: 600px;
    height: 30px;
    background-color: #fafafa;
    border-radius: 5px 5px 0 0;
}

.Code-editor span.Code-editor-control:before {
    content: '';
    top: 16px;
    z-index: 2;
    padding: 6px;
    border-radius: 20px;
}

.Code-editor span.Code-editor-control:nth-child(1):before {
    margin-left: 15px;
    background-color: #df6963;
}

.Code-editor span.Code-editor-control:nth-child(2):before {
    margin-left: 35px;
    background-color: #f5e18a;
}

.Code-editor span.Code-editor-control:nth-child(3):before {
    margin-left: 55px;
    background-color: #97c38a;
}

/* -- iPad Screen -- */
@media only screen and (min-width: 480px) and (max-width: 768px) {
    .Code-editor {
        width: 500px;
    }

    .Code-editor:before {
        width: 500px;
    }
}

/* -- iPhone Screen -- */
@media only screen and (max-width: 479px) {
    .Code-editor {
        width: 300px;
    }

    .Code-editor:before {
        width: 300px;
    }
}

/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

Code[class*='language-'],
pre[class*='language-'] {
    color: #ccc;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;

    tab-size: 4;

    hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
    padding: calc(2em + 10px) 2em 2em 2em;
    margin: 0em 0;
    height: 550px;
    overflow: auto;
}

:not(pre) > Code[class*='language-'],
pre[class*='language-'] {
    background: #473431;
}

/* Inline Code */
:not(pre) > Code[class*='language-'] {
    padding: 0.1em;
    border-radius: 0.3em;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999;
}

.token.punctuation {
    color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace {
    color: #e2777a;
}

.token.function-name {
    color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
    color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
    color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
    color: #cc99cd;
}

.token.string,
.token.attr-value,
.token.regex,
.token.variable {
    color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
    color: #67cdcc;
}

.token.important {
    font-weight: bold;
}

.token.entity {
    cursor: help;
}

pre.Code-editor-line-numbers {
    position: relative;
    padding-left: 3em;
    counter-reset: linenumber;
    padding-bottom: 1px;
}

pre.Code-editor-line-numbers > Code {
    position: relative;
}

.Code-editor-line-numbers .Code-editor-line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;

    font-size: 100%;
    left: -13em;
    width: 3em; /* works for Code-editor-line-numbers below 1000 lines */
    letter-spacing: -1px;
    background-color: #322422;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Code-editor-line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.Code-editor-line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}
