.Pose {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.Pose {
    min-height: 600px;
    min-width: 600px;
}

.Pose > canvas {
    border-radius: 5px;
}
