.App {
    background: #e16a3f;
    min-height: 100vh;
}

.App-layout {
    padding: 0px 70px 0px 75px;
}

.App-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
