.App {
    background: #e16a3f;
    min-height: 100vh;
}

.App-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    font-size: calc(10px + 2vmin);
}
